button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.disabled{
	position: absolute;
	opacity: 0.5;
}


.formatter{
	/* margin: auto; */
	text-align: center;
	width: 100%;
}

.loginPanel{
	position: relative;
	top: 30%;
	width: 100%;
	height: 450px;
	transform: translate(0%, -110%);
	background-color: #050324;
	border-radius: 12px;
	border: 2px solid white;
	text-align: center;
	opacity: 1.0;
}


.back{
	//background: #46474A;
	//border-color: #707070;
	height: 547px;
	position: relative;
    /* transform: translate(135%, 1%); */
}

.loginForm__info{
	text-align: center;
	width: 80%;
	padding: 10px 10px;
	display: inline-block;
	border: none;
	border-radius: 12px;
}

.loginForm__info-margin-25250{
	margin: 25px 25px 0px;
}

.loginForm__info-margin-125{
	margin: 1px 25px;
}	

.loginForm__btnSubmit{
	text-align: center;
	font-size: 18px;
	color: white;
	background: #393535;
	width: 30%	;
	padding: 15px;
	margin: 1px 60px 1px 66px;
	display: inline-block;
	border-style: ridge;
	border-radius: 12px;
}

.g-recaptcha{
	position: relative;
	margin-right:auto;
	margin-left:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width:300px;
}

.loginForm__forgotInfo{
	text-align: center;
	color: white;
	font-size: 10px;
	background: #393535;
	width: 30%;
	padding: 5px;
	display: inline-block;
	border: #707070;
	border-style: ridge;
	border-radius: 12px;	
}

.loginForm__forgotInfo-margin-1266{
	margin: 12px 66px;
}

.loginForm__forgotInfo-margin-46625{
	margin: 4px 66px 25px;
}
