.myDevices{
	text-align: center;
}

btnDevices{
	height: 60px;
}

/*
.btnDevices{
	display: block;
	//background-color: #46474A;
	padding: 0px 5px;
	margin: 1px 10%;
	//border-style: solid;
	//border-width: 1px 0px;
	//border-color: white;
	cursor: pointer;
	width: 80%;
	font-size: 17px;
	color: #D6CDCD;
	vertical-align: middle;
	text-align: center;
	
}


.btnDevices__icon{
	//margin: 10px 10px 10px 10px;
	vertical-align: middle;
	margin: auto 10px;
	width: 45px;
	height: 45px;
	text-align: left;
	float: left;
}

.btnDevices__name{
	position: relative;
	vertical-align: middle;
	margin: 22px 10px 0px 10px;
	color: white;
	float: left;
}
*/

.mainPanel__labelDevicesInfo{
	padding-top: 30px;
	padding-bottom: none;
	color: #D6CDCD;
	text-align: center;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: auto;
}

.mainPanel__labelDeviceName{
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 20px;
	margin: 1px 15%;
}


/*end container id*/