{% extends "base.html.twig" %}

{% block title %}usageStatistics{% endblock %}

{% block footer %}
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
	
	<script>
		function usageStatsBtn(form){
			window.location = "usageStatistics.html";
		}

		function allDevFunction(){
			document.getElementById("myDropdown").classList.toggle("show");
		}

		window.onclick = function(e) {
  			if (!e.target.matches('.dropbtn')) {
  				var myDropdown = document.getElementById("myDropdown");
    			if (myDropdown.classList.contains('show')) {
      				myDropdown.classList.remove('show');
    			}
  			}
		}
	</script>

	<script>
		jQuery(function(){
		    const config = {
		        type: 'bar',
				data: {
                    labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    datasets : [
                        {
                            label: $('.dropdown-content__1').text(),
                            backgroundColor: "rgba(255, 0, 0, 0.8)",
                            data : [350, 200, 550, 180, 200, 660, 310]
                        }
                    ]
				},
				responsive: false,
				options: {
                    title: {
                        display: true,
                        text: 'Amount of Used Power',
						fontColor: '#fff',
						fontSize: 24
                    },
		            legend:{
		                labels:{
		                    fontColor: '#fff'
						}
					},
		            scales:{
		                xAxes:[{
		                    gridLines:{
		                        color: 'fff',
							},
		                    ticks:{
                                fontColor: '#fff',
							},
							scaleLabel:{
		                        labelString: 'Power Consumption (KW)'
							}
						}],
						yAxes:[{
                            gridLines:{
                                color: 'fff'
                            },
		                    ticks:{
                                fontColor: '#fff',
		                        min: 0,
								max: 1000
							},
                            scaleLabel:{
                                labelString: 'Day of the week'
                            }
						}]
					}
				}
			}

			const context = jQuery(".barChartContainer__barChart")
			const chart = new Chart(context, config)

            $('.dropdown-content__1').click(function (){
                config.data.datasets = [
                    {
                        label: $('.dropdown-content__1').text(),
                        backgroundColor: "rgba(255, 0, 0, 0.8)",
                        data : [350, 200, 550, 180, 200, 660, 310]
                    }
                ];
                const chart = new Chart(context, config)
            });

            $('.dropdown-content__2').click(function (){
                config.data.datasets = [
                    {
                        label: $('.dropdown-content__2').text(),
                        backgroundColor: "rgba(0, 255, 0, 0.8)",
                        data : [100, 200, 120, 440, 260, 600, 520]
                    }
                ];
                const chart = new Chart(context, config)
            });

            $('.dropdown-content__3').click(function (){
                config.data.datasets = [
                    {
                        label: $('.dropdown-content__3').text(),
                        backgroundColor: "rgba(0, 0, 255, 0.8)",
                        data : [150, 120, 370, 290, 640, 520, 410]
                    }
                ];
                const chart = new Chart(context, config)
            });

            $('.btnBack').click(function(){
                window.location.href="/{{ app }}";
            });

            $('.pageTitle').html("Usage Statistics");
		})
	</script>

{% endblock %}

{% block body %}

<div class="formatter mainPanel" id="container">
	<table>
		<h3>USAGE STATISTICS</h3>

		<div class="navbar">
            <div class="dropdown">
                <button class="dropbtn" onclick="allDevFunction()">SELECT DEVICES
                    <i class="fa fa-caret-down"></i>
                </button>
                <span class="dropdown-content" id="myDropdown">
                    <a href="#" class="dropdown-content__1">Philip's Hue #1</a>
                    <a href="#" class="dropdown-content__2">Philip's Hue RGB</a>
                    <a href="#" class="dropdown-content__3">Philip's Hue #2</a>
                </span>
            </div>
		</div>

		<div class="barChartContainer" style="height: 400px; width: 600px; margin: 0 auto;">
			<canvas class="barChartContainer__barChart"></canvas>
		</div>
	</table>
</div>

{% endblock %}

