{% extends "base.html.twig" %}
{% extends "App/Views/public/css/usageStatistics.css" %}
{% extends "App/Views/public/js/usageStatistics.js" %}


{% block title %}usageStatistics{% endblock %}

{% block header %}

    <div class="formatter" id="header">
		<a href="ReHome.html"><img src="BackArrow.png" id="backArrowImage" width=50px height=50px></a>
		<img src="IOD_Logo.png" id="logoImage" width=195px height=115px>
		<a href="ReHome.html"><img src="House.png" id="houseImage" width=50px height=50px></a>
	</div>

{% endblock %}

{% block body %}

<div class="formatter" id="container">
		<table>
			<h3>USAGE STATISTICS</h3>
			<form action="">
				<div class="statsBtn">
					<img src="App/Views/public/Images/usageStats-flask.png" id="flaskImage" type="button" onclick="flaskImageBtn(this.form)"><span class="statsTxt">FROM: 11/01 TO 11/20</span>
				</div>
			</form>
			<img src="App/Views/public/Images/usageStats-barchart.png" id="barChartImage" width=360px height=320px>
			<p id="copyright">&copy; Meme Team All Rights Reserved</p>
		</table>
	</div>

{% endblock %}

