{% extends "base.html.twig" %}

{% block title %}usageStatistics{% endblock %}

{% block footer %}
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
	
	<script>
		function usageStatsBtn(form){
			window.location = "usageStatistics.html";
		}

		function allDevBtn(){
			window.location = "#options";
		}
	</script>

{% endblock %}

{% block body %}

<div class="formatter" id="container">
		<table>
			<h3>USAGE STATISTICS</h3>
			<form action="">
				<div class="statsBtn">
					<img src="/{{apps}}/images/allDevices.PNG" id="allDev" type="button" onclick="allDevBtn()">
						<img src="/{{apps}}/images/allDevicesOptions.PNG" id="options">
					<img src="/{{apps}}/images/usageStats-flask.png" id="flaskImage" type="button" onclick="flaskImageBtn(this.form)"><span class="statsTxt">FROM: 11/01 TO 11/20</span>
				</div>
			</form>
			<img src="/{{apps}}/images/usageStats-barchart.png" id="barChartImage" width=360px height=320px>
		</table>
	</div>

{% endblock %}

