{% extends "base.html.twig" %}
{% block title %}Registration{% endblock %}

{% block body %}

    <h1>Register</h1>

    <p>Success! Your account is now active. You can now <a href="login">log in</a>.</p>

{% endblock %}