{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

    <h1>Login</h1>

    <div id="container">
		<table>
			<form action="ReHome.html">
				<input type="username" placeholder="User Name" name="userName" id="inputUserName" required><br><br>
				<input type="password" placeholder="Password" name="password" id="Password" required><br><br>				
				<button type="login" id="btn" onclick="checkLogin(this.form)">Login</button><br>
				<button type="forgotUserName" id="forUser">Forgot Username</button><br>
				<button type="forgotPassword" id="forPass">Forgot Password</button>
			</form>
		</table>
	</div>

{% endblock %}